@font-face {
    font-family: YekanBakhVF;
    src: url('fonts/ttf/YekanBakh-VF-1.ttf');
}

body {
    direction: rtl;
    background-color: #F3F8FF;
}

.login-form-post {
    max-width: 600px;
    margin: auto;
}

.match-card {
    border: 2px solid #284B8C;
    border-radius: 16px;
    padding: 16px 20px;
    margin-top: 15px;
    background-color: white;
}

.match-card-item {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #284B8C;
    padding-bottom: 20px;
}

.profile-section {
    background-color: white;
    border: 1px solid #284B8C;
    border-radius: 16px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.btn-prim {
    background-color: #E63136;
    border-radius: 8px;
    padding: 8px 20px;
    color: white;
    border: 2px solid #284B8C;
}

.modal-header .btn-close {
    margin: unset;
    margin-right: auto;
}

.login-form {
    background-color: white;
    margin: 40px 20px;
    border-radius: 24px;
    border: 2px solid #284B8C;
    padding: 20px 10px;
}

.login-form label {
    margin-right: 10px;
}


.login-form .form-floating {
    padding: 0;
}

body {
    /* background: url(../img/logo.png) repeat; */
    /* background-size: 20%; */
    background-color: rgba(0, 0, 0, 0.35);
}

.match-card-item button {
    background-color: transparent;
    color: black;
}

.match-card-item button:hover {
    background-color: #284B8C;
    color: white;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: YekanBakhVF;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.popup-content {
    padding: 14px 10px;
    line-height: 1.5;
    max-height: 500px;
    overflow: auto;
}

.cnt223 a {
    text-decoration: none;
}

.popup-onload {
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 50%;
    margin-left: -300px;
}

.cnt223 {
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    background: #f3f3f3;
    position: relative;
    z-index: 103;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
}

.cnt223 p {
    clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}

.cnt223 p a {
    color: #d91900;
    font-weight: bold;
}

.cnt223 .x {
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}

.cnt223 .x:hover {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .popup-onload {
        margin: 0 auto;
        display: none;
        position: fixed;
        z-index: 101;
        top: 0;
        right: 0;
        margin-left: -200px;
    }
    .cnt223 {
        min-width: 300px;
        width: 300px;
        min-height: 150px;
        margin: 50px auto;
        background: #f3f3f3;
        position: relative;
        z-index: 103;
        padding: 15px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #000;
    }
}