{% load static %}

<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>کادک</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class='popup-onload'>
        <div class='cnt223'>

            <div class="popup-content">
                <h2></h2>
                <p>این اولین تجربه برنامه نویسی ما هستش و ممکن است در برخی موارد اخلالی به وجود بیاد و این موضوع اخلالی در اطلاعات و امتیاز شما ایجاد نمیکند</p>
                <p>لطفا نام و نام خانوادگی خود را به صورت فارسی وارد نمایید</p>
                <p>اطلاعات شما در این قرعه کشی محفوظ میباشد</p>
                <p>این قرعه کشی فقط مخصوص اعضای گروه صنعتی کرمان خودرو میباشد لطفا از به اشتراک گذاشتن این لینک با سایر افراد خودداری نمایید</p>
                <p>در صورت داشتن هرگونه انتقاد و یا پیشنهاد با ما در ارتباط باشید</p>
                <p>نحوه شرکت در قرعه کشی :</p>
                <p>1. شما 15 دقیقه قبل از شروع مسابقه امکان تغییر در تعداد گل های ثبت شده را دارید</p>
                <p>2. پس از وارد نمودن تعداد گل برروی گزینه ثبت کلیک نمایید</p>
                <p class="text-center">جوایز قرعه کشی</p>
                <h5>جایزه نفر اول مبلغ 15 میلیون تومان</h5>
                <h5>جایزه نفر دوم مبلغ 10 میلیون تومان</h5>
                <h5>جایزه نفر سوم مبلغ 5 میلیون تومان</h5>
                <p>در صورتی که در هر یک از رتبه ها بیشتر از 1 برنده داشته باشیم جایزه کامل به هر کدام اهدا خواهد شد</p>
                <br />
                <a href='' class='close'>بستن</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form class="login-form-post" method="POST">{% csrf_token %}
            <div class="row login-form">
                <img src="{% static 'img/logo.png' %}">
                <div class="form-floating mb-3">
                    <input name="name" type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">نام و نام خانوادگی</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="phone" type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">شماره همراه</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="department" type="text" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">نام واحد اداری</label>
                </div>
                <button class="btn-prim" type="submit">ورود</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src='https://code.jquery.com/jquery-1.8.2.js'></script>
    <script>
        $(function () {
            var overlay = $('<div id="overlay"></div>');
            overlay.show();
            overlay.appendTo(document.body);
            $('.popup-onload').show();
            $('.close').click(function () {
                $('.popup-onload').hide();
                overlay.appendTo(document.body).remove();
                return false;
            });

            $('.x').click(function () {
                $('.popup').hide();
                overlay.appendTo(document.body).remove();
                return false;
            });
        });
    </script>
</body>

</html>